{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe {% endblock %}

{% block body %}
    <div class="container clearfix w-50">
        <h1 class="my-5">Modification de votre mot de passe</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary float-right mr-5 mt-3">
                Modifier votre mot de passe
                <i class="fas fa-check ml-2"></i>
            </button>
        {{ form_end(form) }}
    </div>
{% endblock %}