div.container
{
    margin-top: 20px;
}

div.bandeau-title
{
    
    padding: 2em;
    background-size: cover;
    background-position: center center;
}
div.bandeau-title h1, div.bandeau p
{
    color:#fff;
    text-shadow:3px 3px 3px rgba(0,0,0,0.5); 
}

div.carousel-caption
{
    text-shadow:3px 3px 3px rgba(0,0,0,0.5);
}

div.carousel-caption h5
{
   color:#fff; 
}

.avatar
{
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;

}

.avatar-medium
{
    max-height: 64px;
    max-width: 64px;
}

.avatar-mini
{
    max-width: 24px;
    max-height: 24px;
}