{% extends 'base.html.twig' %}

{% block title %}
   Bonjour les Inventeurs d'Idées
{% endblock %}

{% block header %}
    <h2>Un petit titre dans le header</h2>
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-3">Bienvenue Sur SynBnB!</h1>
        <p class="lead">Nous faisons des innovations et inventivités</p>
        <hr class="my-4">
        <p>Vous avez des idées ? Venez construire avec nous !!!</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Découvrir</a>
        </p>
    </div>
    <h2 class="h1 mt-3 mb-4">Nos inventions Stars</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 trouvailles, <strong>25 &euro;/ projets</strong>  <br/>
                    <small>pas encore notéS</small>  
                </div>
                <img src="http://placehold.it/1000x400" alt="Image des trouvailles" 
                style="height: 200px; width: 100%; display : block "/>
                <div class="card-body">
                    <h4 class="card-title">
                        trouvaille Exceptionnelle !!
                    </h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis porro cupiditate totam temporibus labore quam explicabo perspiciatis quas soluta at?
                    </p>
                    <a href="#" class="btn btn-primary">En savoir plus</a>

                </div>
                    
                </body>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 trouvailles, <strong>25 &euro;/ projets</strong>  <br/>
                    <small>pas encore notéS</small>  
                </div>
                <img src="http://placehold.it/1000x400" alt="Image des trouvailles" 
                style="height: 200px; width: 100%; display : block "/>
                <div class="card-body">
                    <h4 class="card-title">
                        trouvaille Exceptionnelle !!
                    </h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis porro cupiditate totam temporibus labore quam explicabo perspiciatis quas soluta at?
                    </p>
                    <a href="#" class="btn btn-primary">En savoir plus</a>

                </div>
                    
                </body>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 trouvailles, <strong>25 &euro;/ projets</strong>  <br/>
                    <small>pas encore notéS</small>  
                </div>
                <img src="http://placehold.it/1000x400" alt="Image des trouvailles" 
                style="height: 200px; width: 100%; display : block "/>
                <div class="card-body">
                    <h4 class="card-title">
                        trouvaille Exceptionnelle !!
                    </h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis porro cupiditate totam temporibus labore quam explicabo perspiciatis quas soluta at?
                    </p>
                    <a href="#" class="btn btn-primary">En savoir plus</a>

                </div>
                    
                </body>
            </div>
        </div>
    
    
    
    </div>
    <h2 class="h1 mt-3 mb-4">Nos inventeurs Stars !!</h2>
    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Lior Chamla</h4>
                    <hr>
                    <div class="card-text">
                        <img src="http://placehold.it/64/64" alt="Les Inventeurs de l'année ^^"
                        class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, quo.</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus ></a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Lior Chamla</h4>
                    <hr>
                    <div class="card-text">
                        <img src="http://placehold.it/64/64" alt="Les Inventeurs de l'année ^^"
                        class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, quo.</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus ></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
